@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 100%);
}

.display__cont {
  background-image: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 100%;
}

.display__cont__nobg {
  width: 375px;
  margin: 0 auto;
}

.backcard__img__cont, .frontcard__img__cont {
  position: relative;
  z-index: 1;
  width: 280px;
}

.backcard__img, .frontcard__img {
  width: 280px;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}

.backcard__img {
  left: 80px;
  top: 35px;
}

.frontcard__img {
  top: 122px;
  left: 15px;
}

.main__cvc {
  position: absolute;
  top: 103px;
  right: -45px;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.circles__img {
  margin-top: 140px;
  width: 22%;
  margin-left: 35px;
}

.frontcard__content {
  margin-top: 30px;
  margin-left: 35px;
  width: 100%;
}

.date__name__output__cont {
  display: flex;
  margin-top: 10px;
}

.main__number {
  font-size: 1.15rem;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  letter-spacing: 0.1rem;
}

.main__name, .main__date__firsthalf, .main__date__slash, .main__date__secondhalf {
  font-size: 0.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}

.main__name {
  width: 205px;
}

form {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 330px;
}

form label, .date__label, .cvc__label {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 15px 0 5px 0;
}

.cvc__label {
  margin-left: 20px;
}

form input {
  border: 2px solid hsl(270deg, 3%, 87%);
  width: 330px;
  padding: 10px 14px;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: hsl(278deg, 68%, 11%);
}

form input:focus {
  outline: hsl(278deg, 68%, 11%);
  border: 2px solid hsl(278deg, 68%, 11%);
}

.date__cvc__text__cont, .exp__date__cvc__cont {
  display: flex;
}

.exp__date__cvc__cont {
  margin-bottom: 30px;
}

#month__input, #year__input {
  width: 75px;
  margin-right: 5px;
}

#cvc__input {
  width: 170px;
}

input::-moz-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}

input:-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}

input::placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}

:-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}

.confirm__btn {
  padding: 12px 0;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
}

.btn__active__cont {
  visibility: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */