@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 100%);
}

.display__cont {
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 100%;
}
.display__cont .display__cont__nobg {
  width: 375px;
  margin: 0 auto;
}
.display__cont .display__cont__nobg .backcard__img__cont, .display__cont .display__cont__nobg .frontcard__img__cont {
  position: relative;
  z-index: 1;
  width: 280px;
}
.display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img {
  left: 80px;
  top: 35px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
  top: 122px;
  left: 15px;
}
.display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
  width: 280px;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}
.display__cont .display__cont__nobg .backcard__img__cont .main__cvc, .display__cont .display__cont__nobg .frontcard__img__cont .main__cvc {
  position: absolute;
  top: 103px;
  right: -45px;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}
.display__cont .display__cont__nobg .backcard__img__cont .circles__img, .display__cont .display__cont__nobg .frontcard__img__cont .circles__img {
  margin-top: 140px;
  width: 22%;
  margin-left: 35px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content {
  margin-top: 30px;
  margin-left: 35px;
  width: 100%;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .date__name__output__cont, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .date__name__output__cont {
  display: flex;
  margin-top: 10px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__number, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__number {
  font-size: 1.15rem;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  letter-spacing: 0.1rem;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__name {
  width: 205px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__firsthalf, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__slash, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__secondhalf, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__firsthalf, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__slash, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__secondhalf {
  font-size: 0.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}

.form__cont form {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 330px;
}
.form__cont form form input:focus {
  outline: hsl(278deg, 68%, 11%);
  border: 2px solid hsl(278deg, 68%, 11%);
}
.form__cont form .date__cvc__text__cont, .form__cont form .exp__date__cvc__cont {
  display: flex;
}
.form__cont form .date__cvc__text__cont .cvc__label, .form__cont form .exp__date__cvc__cont .cvc__label {
  margin-left: 20px;
}
.form__cont form .exp__date__cvc__cont {
  margin-bottom: 30px;
}
.form__cont form .exp__date__cvc__cont #month__input, .form__cont form .exp__date__cvc__cont #year__input {
  width: 75px;
  margin-right: 5px;
}
.form__cont form .exp__date__cvc__cont #cvc__input {
  width: 170px;
}
.form__cont form .confirm__btn {
  padding: 12px 0;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
}
.form__cont form .btn__active__cont {
  visibility: hidden;
}
.form__cont form input {
  border: 2px solid hsl(270deg, 3%, 87%);
  width: 330px;
  padding: 10px 14px;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: hsl(278deg, 68%, 11%);
}
.form__cont input::-moz-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont input:-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont input::placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont :-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}
.form__cont ::-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}
.form__cont form label, .form__cont .date__label, .form__cont .cvc__label {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 15px 0 5px 0;
}

.btn__active__cont {
  display: block;
  margin: 20px auto;
  width: 330px;
  text-align: center;
}
.btn__active__cont .complete-img {
  display: block;
  margin: 30px auto 0 auto;
}
.btn__active__cont h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(278deg, 68%, 11%);
  padding: 30px 0 20px 0;
}
.btn__active__cont .btn__active__p {
  color: hsl(279deg, 6%, 55%);
  letter-spacing: 0.05rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */