@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

// Secondary colors 
//   - White: hsl(0, 0%, 100%)
//   - Light grayish violet: hsl(270, 3%, 87%)
//   - Dark grayish violet: hsl(279, 6%, 55%)
//   - Very dark violet: hsl(278, 68%, 11%) 

// Main colors 
//   - Linear gradient (active input  border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
//   - Red (input errors): hsl(0, 100%, 66%) 

* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}