@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

// Main colors 
//   - Linear gradient (active input  border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
//   - Red (input errors): hsl(0, 100%, 66%) 

$white: hsl(0, 0%, 100%);
$light_grayish_violet: hsl(270, 3%, 87%);
$dark_grayish_violet: hsl(279, 6%, 55%);
$very_dark_violet: hsl(278, 68%, 11%); 
$red_input_errors: hsl(0, 100%, 66%);
$light_blue: hsl(228, 45%, 44%);

* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
}

button {
  cursor: pointer;
}

.display__cont {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 100%;

  .display__cont__nobg {
    width: 375px;
    margin: 0 auto;

    .backcard__img__cont, .frontcard__img__cont {
      position: relative;
      z-index: 1;
      width: 280px;

      .backcard__img {
        left: 80px;
        top: 35px;
      }
      
      .frontcard__img {
        top: 122px;
        left: 15px;
      }

      .backcard__img, .frontcard__img {
        width: 280px;
        display: block;
        margin: 0 auto;
        position: absolute;
        z-index: -1;
      }

      .main__cvc {
        position: absolute;
        top: 103px;
        right: -45px;
        color: $white;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
      }

      .circles__img {
        margin-top: 140px;
        width: 22%;
        margin-left: 35px;
      }

      .frontcard__content {
        margin-top: 30px;
        margin-left: 35px;
        width: 100%;

        .date__name__output__cont {
          display: flex;
          margin-top: 10px;
        }

        .main__number {
          font-size: 1rem;
          color: $white;
          width: 100%;
          letter-spacing: 0.1rem;
        }

        .main__name {
          width: 205px;
        }

        .main__name, .main__date__firsthalf, .main__date__slash, .main__date__secondhalf {
          font-size: 0.7rem;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  } 
}

.form__cont {
  form {
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 330px;
    
    .date__cvc__text__cont, .exp__date__cvc__cont {
      display: flex;
  
      .cvc__label {
        margin-left: 20px;
      }
    }
    .exp__date__cvc__cont {
      margin-bottom: 30px;
  
      #month__input, #year__input {
        width: 75px;
        margin-right: 5px;
      }
      
      #cvc__input {
        width: 170px;
      }
    }

    .confirm__input {
      cursor: pointer;
      padding: 12px 0;
      background-color: $very_dark_violet;
      color: $light_grayish_violet;
      font-size: 1rem;
      border: 0;
      border-radius: 0.3rem;
      transition: all 0.3s ease-in-out;
    }

    .confirm__input:hover {
      background-color: hsl(278, 67%, 23%);
    }
  }

  .form__input  {
    border: 2px solid $light_grayish_violet;
    width: 330px;
    padding: 10px 14px;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    color: $very_dark_violet;
  } 

  .small {
    color: $red_input_errors;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-size: 0.7rem;
  }

  .form__control.error .small {
    visibility: visible;
    opacity: 1;
  }

  .form__control.success input:focus {
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 20;
  }

  .form__control.error input {
    border-image: none;
    border-color: hsl(0, 100%, 66%);
  }

  .form__input:focus {
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 20;
    outline: none;
    border-radius: 0.3rem;
  }

  input::placeholder {
    color: $dark_grayish_violet;
    opacity: 0.5;
    font-size: 1.1rem;
  }
  
  :-ms-input-placeholder {
    color: $dark_grayish_violet;
    opacity: 0.5;
  }
  
  ::-ms-input-placeholder {
    color: $dark_grayish_violet;
    opacity: 0.5;
  }

  form label, .date__label, .cvc__label {
    text-transform: uppercase;
    color: $very_dark_violet;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 15px 0 5px 0;
  }
}

.btn__active__cont {
  margin: 60px auto 20px auto;
  width: 330px;
  text-align: center;
  display: none;

  .complete-img {
    display: block;
    margin: 30px auto 0 auto;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $very_dark_violet;
    padding: 30px 0 20px 0;
  }

  .btn__active__p {
    color: $dark_grayish_violet;
    letter-spacing: 0.05rem;
  }

  .btn__active {
    width: 100%;
    background-color: $very_dark_violet;
    color: $light_grayish_violet;
    font-size: 1rem;
    border: 0;
    border-radius: 0.3rem;
    padding: 12px;
    margin-top: 35px;
    transition: all 0.3s ease-in-out;
  }

  .btn__active:hover {
    background-color: hsl(278, 67%, 23%);
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
  color: rgb(73, 73, 73);
}

.attribution a { 
  color: $very_dark_violet;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .main__cont {
    display: flex;
    align-items: center;
    background-image: url("/images/bg-main-desktop.png");
    background-size: 400px 100%;
    background-repeat: no-repeat;

    .display__cont {
      z-index: 0;
      width: 450px;
      background-image: none;
      height: 100vh;
      .display__cont__nobg {
        .backcard__img__cont,.frontcard__img__cont {
          .backcard__img {
            left: 160px;
            top: 450px;
          }

          .frontcard__img {
            top: 210px;
            left: 90px;
          }

          .backcard__img, .frontcard__img {
            width: 380px;
          }

          .main__cvc {
            top: 545px;
            right: -205px;
            font-size: 0.8rem;
          }

          .circles__img {
            margin-top: 240px;
            margin-left: 110px;
          }

          .frontcard__content {
            margin-top: 50px;
            margin-left: 110px;
          }

          .main__number {
            font-size: 1.4rem;
          }

          .date__name__output__cont {
            margin-top: 20px;
            margin-right: -55px;
          }

          .date__name__output__cont p {
            font-size: 0.9rem;
          }

          .main__name {
            width: 240px;
            
          }

          .main__date__firsthalf {
            margin-left: 55px;
          }
        }
      }
    }

    .main__form {
      margin: 0 300px;
      position: absolute;
      top: 30%;
      left: 35%;
    }
  }
    
  .btn__active__cont {
    margin: 0 300px;
    width: 330px;
    text-align: center;
    display: none;
    position: absolute;
    top: 30%;
    left: 35%;
  }

  .attribution {
    position: absolute;
    bottom: 10px;
    right: 20px;
    left: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .main__cont {
    background-size: 600px 100%;

    .display__cont {
      .display__cont__nobg { 
        .backcard__img__cont,.frontcard__img__cont {
          .backcard__img {
            left: 360px;
            top: 450px;
          }

          .frontcard__img {
            top: 210px;
            left: 290px;
          }

          .main__cvc {
            top: 545px;
            right: -405px;
            font-size: 0.8rem;
          }

          .circles__img {
            margin-top: 240px;
            margin-left: 310px;
          }

          .frontcard__content {
            margin-top: 50px;
            margin-left: 310px;
          }
        }
      }
    }
    .main__form {
      margin: 0 200px;
      position: absolute;
      left: 45%;
    }
  }

  .btn__active__cont {
    margin: 0 200px;
    left: 45%;
  }
}