@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 100%);
}

button {
  cursor: pointer;
}

.display__cont {
  background-image: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 100%;
}
.display__cont .display__cont__nobg {
  width: 375px;
  margin: 0 auto;
}
.display__cont .display__cont__nobg .backcard__img__cont, .display__cont .display__cont__nobg .frontcard__img__cont {
  position: relative;
  z-index: 1;
  width: 280px;
}
.display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img {
  left: 80px;
  top: 35px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
  top: 122px;
  left: 15px;
}
.display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
  width: 280px;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}
.display__cont .display__cont__nobg .backcard__img__cont .main__cvc, .display__cont .display__cont__nobg .frontcard__img__cont .main__cvc {
  position: absolute;
  top: 103px;
  right: -45px;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}
.display__cont .display__cont__nobg .backcard__img__cont .circles__img, .display__cont .display__cont__nobg .frontcard__img__cont .circles__img {
  margin-top: 140px;
  width: 22%;
  margin-left: 35px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content {
  margin-top: 30px;
  margin-left: 35px;
  width: 100%;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .date__name__output__cont, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .date__name__output__cont {
  display: flex;
  margin-top: 10px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__number, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__number {
  font-size: 1rem;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  letter-spacing: 0.1rem;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__name {
  width: 205px;
}
.display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__firsthalf, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__slash, .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content .main__date__secondhalf, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__name, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__firsthalf, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__slash, .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content .main__date__secondhalf {
  font-size: 0.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}

.form__cont form {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 330px;
}
.form__cont form .date__cvc__text__cont, .form__cont form .exp__date__cvc__cont {
  display: flex;
}
.form__cont form .date__cvc__text__cont .cvc__label, .form__cont form .exp__date__cvc__cont .cvc__label {
  margin-left: 20px;
}
.form__cont form .exp__date__cvc__cont {
  margin-bottom: 30px;
}
.form__cont form .exp__date__cvc__cont #month__input, .form__cont form .exp__date__cvc__cont #year__input {
  width: 75px;
  margin-right: 5px;
}
.form__cont form .exp__date__cvc__cont #cvc__input {
  width: 170px;
}
.form__cont form .confirm__input {
  cursor: pointer;
  padding: 12px 0;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.form__cont form .confirm__input:hover {
  background-color: hsl(278deg, 67%, 23%);
}
.form__cont .form__input {
  border: 2px solid hsl(270deg, 3%, 87%);
  width: 330px;
  padding: 10px 14px;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: hsl(278deg, 68%, 11%);
}
.form__cont .form__input:focus {
  outline: none;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%)) 20;
     border-image: linear-gradient(hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%)) 20;
  outline: none;
  border-radius: 0.3rem;
}
.form__cont input::-moz-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont input:-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont input::placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
  font-size: 1.1rem;
}
.form__cont :-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}
.form__cont ::-ms-input-placeholder {
  color: hsl(279deg, 6%, 55%);
  opacity: 0.5;
}
.form__cont form label, .form__cont .date__label, .form__cont .cvc__label {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 15px 0 5px 0;
}

.btn__active__cont {
  margin: 60px auto 20px auto;
  width: 330px;
  text-align: center;
  display: none;
}
.btn__active__cont .complete-img {
  display: block;
  margin: 30px auto 0 auto;
}
.btn__active__cont h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(278deg, 68%, 11%);
  padding: 30px 0 20px 0;
}
.btn__active__cont .btn__active__p {
  color: hsl(279deg, 6%, 55%);
  letter-spacing: 0.05rem;
}
.btn__active__cont .btn__active {
  width: 100%;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
  padding: 12px;
  margin-top: 35px;
  transition: all 0.3s ease-in-out;
}
.btn__active__cont .btn__active:hover {
  background-color: hsl(278deg, 67%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  color: rgb(73, 73, 73);
}

.attribution a {
  color: hsl(278deg, 68%, 11%);
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  .main__cont {
    display: flex;
    align-items: center;
    background-image: url("/images/bg-main-desktop.png");
    background-size: 400px 100%;
    background-repeat: no-repeat;
  }
  .main__cont .display__cont {
    z-index: 0;
    width: 450px;
    background-image: none;
    height: 100vh;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img {
    left: 160px;
    top: 450px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
    top: 210px;
    left: 90px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .main__cont .display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
    width: 380px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .main__cvc, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .main__cvc {
    top: 545px;
    right: -205px;
    font-size: 0.8rem;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .circles__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .circles__img {
    margin-top: 240px;
    margin-left: 110px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content {
    margin-top: 50px;
    margin-left: 110px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .main__number, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .main__number {
    font-size: 1.4rem;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .date__name__output__cont, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .date__name__output__cont {
    margin-top: 20px;
    margin-right: -55px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .date__name__output__cont p, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .date__name__output__cont p {
    font-size: 0.9rem;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .main__name, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .main__name {
    width: 240px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .main__date__firsthalf, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .main__date__firsthalf {
    margin-left: 55px;
  }
  .main__cont .main__form {
    margin: 0 300px;
    position: absolute;
    top: 30%;
    left: 35%;
  }
  .btn__active__cont {
    margin: 0 300px;
    width: 330px;
    text-align: center;
    display: none;
    position: absolute;
    top: 30%;
    left: 35%;
  }
  .attribution {
    right: 20px;
    left: 300px;
  }
}
@media only screen and (min-width: 1440px) {
  .main__cont {
    background-size: 600px 100%;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .backcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .backcard__img {
    left: 360px;
    top: 450px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .frontcard__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__img {
    top: 210px;
    left: 290px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .main__cvc, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .main__cvc {
    top: 545px;
    right: -405px;
    font-size: 0.8rem;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .circles__img, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .circles__img {
    margin-top: 240px;
    margin-left: 310px;
  }
  .main__cont .display__cont .display__cont__nobg .backcard__img__cont .frontcard__content, .main__cont .display__cont .display__cont__nobg .frontcard__img__cont .frontcard__content {
    margin-top: 50px;
    margin-left: 310px;
  }
  .main__cont .main__form {
    margin: 0 200px;
    position: absolute;
    left: 45%;
  }
  .btn__active__cont {
    margin: 0 200px;
    left: 45%;
  }
}/*# sourceMappingURL=style.css.map */